# Testing
pytest
pytest-asyncio

# Web
aiohttp

# API
uvicorn
fastapi
fastapi-cors

# Docker
docker

# Utilities
pydantic
jinja2
pillow
python-dotenv

# Third party APIs
google-api-python-client
openai
anthropic
exa_py
praw
arxiv
wikipedia