# Testing
pytest
pytest-asyncio

# Web
aiohttp

# API
uvicorn
fastapi
fastapi-cors

# Docker
docker

# Utilities
pydantic
jinja2
pillow
python-dotenv
python-magic
pymongo # BSON

# Third party APIs
openai
google-api-python-client
google-generativeai
cohere
anthropic
wikipedia
praw
exa_py
arxiv