# Testing
pytest
pytest-asyncio

# Web
aiohttp

# API
uvicorn[standard]
fastapi
fastapi-cors
redis>=4.2.0
websockets

# Docker
docker

# Third party APIs
openai
google-api-python-client
git+https://github.com/google-gemini/generative-ai-python@imagen  # For Imagen support # google-generativeai
cohere
anthropic
wikipedia
praw
exa_py
arxiv

# Utilities
pydantic
jinja2
pillow
python-dotenv
python-magic
pymongo # BSON
pypdf

# Local generation
transformers
diffusers
--extra-index-url https://download.pytorch.org/whl/cu118
sentencepiece
ftfy
torch>=2.1.0+cu118
torchvision>=0.16.0+cu118
scipy
accelerate>=0.26.0
bitsandbytes>=0.41.1
safetensors