alice_frontend/node_modules
backend/node_modules
alice_frontend/build
backend/dist
workflow_logic/trash
workflow_logic/tests/test_results
logs
.venv
.pytest_cache
venv
tmp
.env
OAI_CONFIG_LIST
.cache
.vscode
__pycache__