# Project Alice Environment Configuration

# API Keys (replace with your actual keys or use placeholders)
OPENAI_API_KEY=sk-your-openai-api-key
ANTHROPIC_API_KEY=sk-ant-your-anthropic-api-key
COHERE_API_KEY=your-api-key
META_API_KEY=your-api-key
GEMINI_API_KEY=your-api-key
MISTRAL_API_KEY=your-api-key
GROQ_API_KEY=your-api-key

GOOGLE_CSE_ID=your-google-cse-id
GOOGLE_API_KEY=your-google-api-key
REDDIT_CLIENT_ID=your-reddit-client-id
REDDIT_CLIENT_SECRET=your-reddit-client-secret
EXA_API_KEY=your-exa-api-key

## System configuration
# --- No need to update the variables below ---

# Database Configuration
MONGODB_URI=mongodb://mongo/alice_database

# Port Configuration
FRONTEND_PORT=4000
FRONTEND_PORT_DOCKER=3000
BACKEND_PORT=3000
BACKEND_PORT_DOCKER=3000
WORKFLOW_PORT=8000
WORKFLOW_PORT_DOCKER=8000

# Host Configuration
HOST=localhost
FRONTEND_HOST=frontend
BACKEND_HOST=backend
WORKFLOW_HOST=workflow

# Security
JWT_SECRET=your_very_long_and_secure_random_string_here

# Logging Configuration
LOG_LEVEL=INFO
REACT_APP_LOG_LEVEL=INFO
LOGGING_FOLDER=logs

# LM Studio config
LM_STUDIO_DEFAULT_PRESET=OpenChat

# ENV MODE
NODE_ENV=production

SHARED_UPLOAD_DIR=/app/shared-uploads
COMPOSE_PROJECT_DIR=.