.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 90%;
  max-height: 90%;
  background-color: white;
  padding: 0;
  /* Removed extra padding to prevent overflow */
  box-shadow: 24px;
  outline: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* Ensure header and footer stay in place */
}

.modal-header {
  padding: 20px;
  display: flex;
  z-index: 1;
  /* Ensure header is above other elements */
  flex-shrink: 0;
  /* Prevent shrinking */
}

.modal-body {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.modal-body .rjsf {
  flex: 1;
  overflow-y: auto;
}

.modal-body .rjsf .MuiFormControl-root>.MuiGrid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* .modal-body .rjsf .form-group {
  margin-bottom: 20px;
} */
.modal-body .rjsf>.MuiBox-root {
  margin-top: 20px;
  display: flex;
  position: sticky;
  bottom: 0;
  padding: 10px 0;
  /* Add some padding for better visibility */
  z-index: 1;
  /* Ensure footer is above other elements */
}