/* src/assets/fonts/fonts.css */
@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}